.login__section{
    width: 85%;
    margin: 2.5rem auto;
    display: flex;
    /* gap: auto; */justify-content: space-between;
    min-height: 500px;
    height: auto;
}
.login__image__section{
    width: 60%;
    max-height: 600px;
    border-radius: 4px; 
}
.login__image__section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login__form__content{
    width: 30%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login__form__content  h3{
    font-weight: normal;
}
.login__form__content h6{
    color: black;
    font-size: 0.85rem;
    font-weight: 400;
}
.login__form__content form{
    margin: 2rem 0;
}
.login__form__content a{
    color: red;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 1rem 0;
}
.form__input{
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9e9b9b;
}
.form__input input{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.5rem 0;
    font-size: 0.85rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .login__section {
        flex-direction: column;
    }

    .login__image__section,
    .login__form__content {
        width: 100%;
        padding: 3rem 0;
    }
}