.home__page{
    width: 85%;
    margin: 0 auto;
}
/* #######################MAIN CSS################################################### */
.main__content{
    display: flex;
    height: auto;
    min-height: 400px;
    box-sizing: border-box;
}
.side__nav{
    width: 20%;
    border-right: 1px solid rgb(222, 222, 222);
    padding-top: 2rem;
    /* background-color: teal; */
}
.main__carasoule{
    width: 80%;
    padding-top: 2rem;
   padding-left: 2rem;
}
/* ########################FLASH SALE CSS################################################## */
.flashSale__section{
    margin:5rem 0;   
}
.categories__section{
    background-color: red;
}
/* ########################################################################## */



/* ########################################################################## */


/* ########################################################################## */

/* ########################################################################## */

/* ########################################################################## */

/* ########################################################################## */

/* ########################################################################## */

/* ########################################################################## */

/* ########################################################################## */
/* ########################################################################## */
/* ########################################################################## */