.section__header{
    display: flex;
    align-items: center;
}
.block{
    background-color: rgb(201, 4, 4);
    width: 1.15rem;
    height: 2.5rem;
    border-radius: 4px;
    margin-right: 0.65rem;
}
.section__header h5{
    font-size: 0.85rem;
    color:rgb(201, 4, 4);
    margin: 0;
}
.section__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.section__content__time{
    display: flex;
    align-items: center;
}
.section__content__time__heading{
    margin-right: 6rem;
}
.clock th{
    font-weight: 400;
    font-size: 0.65rem;
}
.clock td{
    font-size: 2rem;
    padding-right: 1rem;
}
.custom-arrow{
    font-size: 2rem;
    margin-left: 1rem;
    color: rgb(128, 127, 127);
    cursor: pointer;
    opacity: 0.75;
}
.flash__cards{
    width: 100%;
}

.section__footer{
    margin: 2rem ;
    display: flex;
    justify-content: center;
}