@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@400;600&display=swap');
.custom-arrow {
    font-size: 2rem;
    margin-left: 1rem;
    color: rgb(128, 127, 127);
    cursor: pointer;
    opacity: 0.75;
  }
  .section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section_header h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
  }